body{
    font-family: Arial, sans-serif;
    font-size: 14px;
}

li{
    display:inline;
    padding:5px;   
}
ul{
    list-style-type: none;
    margin: 0;
}

li a{
    color:#585555;
    text-decoration: none;
}

header {
    display:flex;
    justify-content: space-between;
    top:0;
}

.logo {
    width:auto;
margin:auto;
padding:30px;
display:flex;
justify-content: center;
height:10%;
width:50%;
}

.search_bar{
    width:auto;
    margin:auto;
    padding:10px;
    display:flex;
    flex:100%;
    justify-content: center;
    margin-top:-37px;
    height:34px;
    white-space: pre;
}
.button{
    width:auto;
    margin:auto;
    display:flex;
    justify-content: space-evenly;
}

footer {
    display:flex;
    justify-content: space-between;
    position:fixed;
    bottom:0;
    width: 100vw;
    padding:2px;
    background-color: #f2f2f2;
}
