body{
    margin:0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

li{
    display:inline;
    padding:5px;   
}
ul{
    list-style-type: none;
    margin: 0;
}

li a{
    color:#585555;
    text-decoration: none;
    margin:5px;
}

header {
    display:flex;
    justify-content: space-between;
    top:0;
}
.header-nav{
    display:flex;
    align-items:center;
}

.logo {
    width:auto;
margin:auto;
padding:30px;
display:flex;
justify-content: center;
height:5%;
width:50%;
}

.search_bar{
    max-height:5%;
    position:relative;
    background-color: transparent;
    left:30%;
    top:20px;
   border-color:grey;
    margin:0;
    width: 40%;
    padding:0;
    color:rgba(0,0,0,.87)
    outline:grey;
    display:flex;
    flex:100%;
    margin-top:-37px;
    height:34px;
    font-size:16px;
    border-radius:50px;
    border-color:lightgrey;

}
.button1{
    position:absolute;
    left:220px;
    top:250px;
    width:auto;
    height:34px;
}
.button2{
    position:absolute;
    left:340px;
    top:250px;
    width:auto;
    height:34px;
}
#spyglass{
    position:absolute;
    left:32%;
    top:32%;
}

footer {
    display:flex;
    justify-content: space-between;
    position:fixed;
    bottom:0;
    width: 100vw;
    padding:2px;
    background-color: #f2f2f2;
}
.footer-nav{
    display:flex;
    align-items:center;
}
