body{
    margin:0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

li{
    display:inline;
    padding:5px;   
}
ul{
    list-style-type: none;
    margin: 0;
}

li a{
    color:#585555;
    text-decoration: none;
    margin:5px;
}

header {
    display:flex;
    justify-content: space-between;
    top:0;
}
.header-nav{
    display:flex;
    align-items:center;
}

.logo {
    width:auto;
margin:auto;
padding:30px;
display:flex;
justify-content: center;
height: 12vh;
width:40vh;
}

section{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:5vh;
}

.inputs{
    display:flex;
    justify-content:space-between;
    width:80vh;
    height:34px;
    border:1px solid lightgrey;
    border-radius:50px;
}
.inputs > input{
    flex-grow:1;
    border:none;
    outline:none;
}

footer {
    display:flex;
    justify-content: space-between;
    position:fixed;
    bottom:0;
    width: 100vw;
    padding:2px;
    background-color: #f2f2f2;
}
.footer-nav{
    display:flex;
    align-items:center;
}
